.form {

}



.tieude {
    color: rgb(230, 140, 23);
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    margin-bottom: 40px;
}
ul#main_menu {
    
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}
ul li {
    list-style: none;
    display: inline;
}
ul#main_menu li a {
    padding: 12px 15px;
    display: inline;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: 0.4s;
    color:black;
}
ul {
    text-align: center;
    background-color: rgb(251, 236, 217);
}
.image {
    width:100%;
    max-width: 100%;
    height: auto;
    display: block;

   
}
li a:hover {
    background-color: rgb(244, 191, 122);
}

