
*{
    box-sizing: border-box;
}
body {
    margin: 50px;
}
.header {
    text-align: center;
}
.tieude {
    color: rgb(230, 140, 23);
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    margin-bottom: 40px;
}
.inmenu {
    max-width: 1500px;
    margin: 0 auto;

}
.menu {
    justify-items: center;
    background-color: rgb(249, 200, 136);
    margin-bottom: 5px;
}
.mainmenu {
<<<<<<< HEAD
=======
  text-align: center;
>>>>>>> c64bd47eea8bf95a8082041ad253fb5ee90190a7
   display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.mainmenu li a {
    color: black;
    display: inline;
    padding: 15px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: 0.4s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
   margin-left: 33px;
    text-align: center;
}
.mainmenu li {
   float: left;

    
}



li a {
    font-size: 20px;
}
li a:hover {
    background-color: rgb(227, 179, 117);
}




.image {
    width:100%;
    max-width: 100%;
    height: auto;
    display: block;

   
}



<<<<<<< HEAD
=======
li a:hover {
    background-color: rgb(237, 178, 101);

}
.form {
    float: left;
    padding: 5px;
}
.form.side {
    width: 5%;
}
.form.center {
    width: 90%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .form.side, .form.center {
      width: 100%;
    }
}
.formliterary{
    max-width: 500px;
}
.sholokhov{
    margin-left: 6%;
}
.textlitery{    max-height: 300px;
}
>>>>>>> c64bd47eea8bf95a8082041ad253fb5ee90190a7
