body {
    margin: 50px;
}
.header {
    text-align: center;
}
.tieude {
    color: rgb(230, 140, 23);
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    margin-bottom: 40px;
}
.inmenu {
    max-width: 1500px;
    margin: 0 auto;

}
.menu {
    background-color: rgb(230, 140, 23);
    margin-bottom: 5px;
}
.mainmenu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.mainmenu li a {
    color: black;
    display: block;
    padding: 5px 20px;
    text-decoration: none;
}
li {
    text-align: center;

}
li a {
    font-size: 20px;
}
li a:hover {
    background-color: rgb(227, 179, 117);
}




.image {
    width:100%;
    max-width: 100%;
    height: auto;
    display: block;

   
}

